#This include the option for the regridding
target:
  resolution: r100
  frequency: monthly
  outdir: /work/bb1153/b382076/LRAv3
  tmpdir: /scratch/b/b382076

configdir: '../../config/'
loglevel: INFO

# all the variable listed here will be processed by the LRA creator
catalog:
  FESOM:
    tco2559-ng5:
     #original_3d: 
       #vars: ['temp']
      original_2d:
        vars: ['sos', 'sst', 'zos', 'ci', 'sithick']
  IFS:
    tco2559-ng5:
      ICMGG_atm2d:
        vars: ['ci', 'tprate', '2t', 'erate', 'mslhfl', 'msshfl', 'msnsrf', 'msntrf', 'mtntrf', 'mtnsrf', 'nsss', 'ewss', 'msl', 'hcc', 'lcc', 'mcc']
      ICMU_atm3d:
        vars: ['t', 'u', 'v', 'q']
    tco3999-ng5:
      ICMGG_atm2d:
        vars: ['2t']
    tco1279-orca025:
      ICMGG_atm2d:
        vars: ['ci', 'tprate', '2t', 'erate', 'mslhfl', 'msshfl', 'msnsrf', 'msntrf', 'mtntrf', 'mtnsrf', 'nsss', 'ewss', 'msl', 'hcc', 'lcc', 'mcc']
      ICMU_atm3d:
        vars: ['t', 'u', 'v', 'q']
  ICON:
    ngc3026:
      P1D:
        zoom: 8
        vars: ['t', 'tprate', '2t', 'mslhfl', 'msshfl', 'msnsrf', 'msntrf', 'mtntrf', 'mtnsrf']
    ngc3028:
      P1D:
        zoom: 8
        vars: ['t', 'tprate', '2t', 'mslhfl', 'msshfl', 'msnsrf', 'msntrf', 'mtntrf', 'mtnsrf']
    ngc2009:
      atm_2d_ml_R02B09:
        vars: ['ci', 'tprate', '2t', 'mslhfl', 'msshfl', 'msnsrf', 'msntrf', 'mtntrf', 'mtnsrf', 'msl']


