#This include the option for the regridding
target:
  resolution: r100
  frequency: monthly
  outdir: <OUTDIR>
  tmpdir: <TMPDIR>

configdir: '../../config/'
loglevel: INFO

catalog:
  IFS-NEMO:
    historical-1990:
      hourly-hpz7-atm2d:
         vars: ['mtpr', '2t', 'skt', 'msl', 'tcc', 'lcc', 'hcc', 'mcc', 'sd', 'tciw', 'tclw', 'mer', 'msr', 'mslhf', 'msshf', 
           'msnswrf', 'msnlwrf', 'msdwlwrf', 'msdwswrf', 'mtnswrf', 'mtnlwrf', 'mtdwswrf', 'mntss', 'metss', 'msror']
      hourly-hpz7-atm3d:
         vars: ['q', 't', 'u', 'v']
      daily-hpz7-oce2d:
         vars: ['avg_tos', 'avg_sithick', 'avg_siconc', 'avg_sos']
      daily-hpz7-oce3d:
         vars: ['avg_thetao', 'avg_so']
    # historical-1990-dev-lowres:
    #   hourly-native-atm2d:
    #     vars: ['mtpr', '2t', 'skt', 'tcc', 'sd', 'tciw', 'tclw', 'mer', 'msr', 'mslhf', 'msshf',
    #      'msnswrf', 'msnlwrf', 'msdwlwrf', 'msdwswrf', 'mtnswrf', 'mtnlwrf', 'mtdwswrf']
    #   hourly-native-atm3d:
    #     vars: ['q', 't', 'u', 'v']
    #   daily-hpz5-oce2d:
    #      vars: ['avg_tos', 'avg_siconc', 'avg_sos']
    #   daily-hpz5-oce3d:
    #      vars: ['avg_thetao', 'avg_so']
      
    # spinup-1990-fracice:
    #   monthly-healpix-2d:
    #     vars: ['mtpr', 'mean2t', 'msl', 'tcc', 'lcc', 'hcc', 'mcc', 'sd', 'tciw', 'tclw']
    #   monthly-healpix-3d:
    #     vars: ['q', 't', 'u', 'v']
    #   oce-monthly-healpix-2d:
    #     vars: ['avg_tos', 'avg_siconc', 'avg_sos']
    #   #oce-monthly-healpix-3d:
    #   #  vars: ['avg_theatao', 'avg_so']
  # IFS:
  #   historical-1990-devcon:
  #     monthly-1deg-2d:
  #       vars: ['msl', 'tcc', 'lcc', 'hcc', 'mcc', 'sd', 'tciw', 'tclw']
  #     monthly-1deg-3d:
  #       vars: ['q', 't', 'u', 'v']
  #     hourly-1deg:
  #        vars: ['msdtrf', 'mtsfr', 'iews', 'inss', 'mslhfl', 'msshfl', 'msnsrf', 'msntrf', 'erate', 'mtpr', '2t', 'mtntrf', 'mtnsrf', 'msdsrf']
  #   control-1950-devcon:
  #     monthly-1deg-2d:
  #       vars: ['msl', 'tcc', 'lcc', 'hcc', 'mcc', 'sd', 'tciw', 'tclw']
  #     monthly-1deg-3d:
  #       vars: ['q', 't', 'u', 'v']
  #     hourly-1deg:
  #       #vars: ['mtntrf', 'mtnsrf', 'msdsrf']
  #       vars: ['msdtrf', 'mtsfr', 'iews', 'inss', 'mslhfl', 'msshfl', 'msnsrf', 'msntrf', 'erate', 'mtpr', '2t', 'mtntrf', 'mtnsrf', 'msdsrf']


