#This include the option for the regridding
target:
  resolution: r100
  frequency: monthly
  outdir: /pfs/lustrep3/projappl/project_465000454/padavini/LRA
  tmpdir: /pfs/lustrep3/projappl/project_465000454/padavini/tmp

configdir: '../../config/'
loglevel: INFO

# do you want to use intermediate opa layer to genrate LRA?
opa:
  use_opa: True
  opacheckpoint: True
  opadir: /pfs/lustrep3/projappl/project_465000454/padavini/one_pass

# do you want to use GSV direct access
gsv: 
  use_gsv: True
  start: 20200120
  end: 20200501

# all the variable listed here will be processed by the LRA creator
catalog:
  ERA5:
    fdb:
      fdb-test:
        vars: ['2t']
