#This include the option for the regridding
target:
  resolution: r100
  frequency: monthly
  fixer_name: False
  outdir: %HPCROOTDIR%/tmp
  tmpdir: %HPCROOTDIR%/tmp
  opadir: %HPCROOTDIR%/tmp

configdir: '%HPCROOTDIR%/%PROJECT.PROJECT_DESTINATION%/aqua/config'
loglevel: INFO

# all the variable listed here will be processed by the LRA creator
catalog:
  %AQUA.MODEL%:
    %AQUA.EXP%: 
      %AQUA.SOURCE%:
        vars: [%AQUA.VARS%]