fixer_name:
    FESOM-default: 
        data_model: false
        delete:  # variables to drop at the end
            - a_ice
            - m_ice
            - sss
            - ssh
        vars:
            avg_siconc:
                source: a_ice
                src_units: frac
                grib: true
                units: '%'
            avg_tos: 
                source: sst
                grib: true
            avg_sos:
                source: sss
                grib: true
                units: psu
            avg_sithick:
                source: m_ice
                grib: true
            avg_zos:
                source: ssh
                grib: true
            avg_thetao:
                source: temp 
                src_units: degC
                grib: true
                units: degC 
            avg_uo:
                source: u
                grib: true
                src_units: m/s
            avg_vo:
                source: v
                grib: true
                src_units: m/s
            avg_wo:
                source: w
                grib: true
            avg_so:
                src_units: psu
                source: salt
                grib: true
                units: psu
            sivn:
                source: vice
                grib: true
            siue:
                source: uice
                grib: true
            vdf: 
                source: Kv
                grib: true
            mtpr:
                source: prec
                grib: true
            mlotst125:
                source: MLD2
                src_units: m
                grib: true

    FESOM-interpolated_global_TS:
        data_model: False  # Do not attempto to correct coordinates
        vars:
            ocpt: 
                derived: temp
                src_units: degC
                grib: true
                units: degC # Override units from grib tables
