fixer_name:
    icon-destine-v1:
        data_model: false
        deltat: 3600

        vars:
            # Derive precipitation from TP and drop tprate
            mtpr: # https://codes.ecmwf.int/grib/param-db/235055
                source: tprate
                grib: true
            # Evaporation and snowfall
            mer: # https://codes.ecmwf.int/grib/param-db/?id=235043
                source: e
                grib: true
                src_units: m
                nanfirst: True # option to fix ifs bug in destine-v1, see below
                #units: kg m**-2 s**-1
            msr: # https://codes.ecmwf.int/grib/param-db/?id=235031
                source: sf
                grib: true
                src_units: m
                nanfirst: True
                #units: kg m**-2 s**-1
            # Latent and sensible heat
            mslhf: # https://codes.ecmwf.int/grib/param-db/?id=235034
                source: slhf
                grib: true
            msshf:
                source: sshf
                grib: true
            # Surface fluxes
            msnswrf:
                source: ssr
                grib: true
            msnlwrf:
                source: str
                grib: true
            msdwlwrf:
                source: strd
                grib: true
            msdwswrf:
                source: ssrd
                grib: true
            # TOA fluxes
            mtnswrf:
                source: tsr
                grib: true
            mtnlwrf:
                source: ttr
                grib: true
            mtdwswrf:
                source: tisr
                grib: true      
            # Wind stresses
            # ICON use different variables that should not be decumulated
            metss: # https://codes.ecmwf.int/grib/param-db/?id=235041
                source: utaua
                grib: true
            mntss: # https://codes.ecmwf.int/grib/param-db/?id=235042 
                source: vtaua
                grib: true
            # Runoffs
            msror:  # https://codes.ecmwf.int/grib/param-db/?id=235020
                source: sro
                grib: true
            mssror: # https://codes.ecmwf.int/grib/param-db/?id=235021
                source: ssro
                grib: true
    ICON-default:
        data_model: false  # Do not attempt to correct coordinates
        delete:  # variables to drop at the end
            - hfls
            - hfss
            - rlus
            - rlut
            - rsus
            - rsdt
            - rsut
        vars:
            iews:
                source: tauu
                grib: true
            inss:
                source: tauv
                grib: true
            skt:
                source: ts
                grib: true
            sp:
                source: ps
                grib: true
            msl:
                source: psl
                grib: true
            10si:
                source: sfcwind
                grib: true
            ci:
                source: sic
                src_units: "1"
                grib: true
                units: "1"
            sithick:
                source: sit
                grib: true
            2t:
                source: tas
                grib: true
            10u:
                source: uas
                grib: true
            10v:
                source: vas
                grib: true
            tciw:
                source: clivi
                grib: true
            tclw:
                source: cllvi
                grib: true
            mslhfl:
                source: hfls
                grib: true
            msshfl:
                source: hfss
                grib: true
            tprate:
                source: pr
                grib: true
                src_units: kg m**-2 s**-1
                units: kg m**-2 s**-1
            mlsprt:
                source: prlr
                grib: true
                src_units: kg m**-2 s**-1
                units: kg m**-2 s**-1
            tcwv:
                source: prw
                grib: true
            msdtrf:
                source: rlds
                grib: true
            msntrf:
                derived: rlds-rlus
                grib: true
            mtntrf:
                derived: -rlut
                grib: true
            msdsrf:
                source: rsds
                grib: true
            msnsrf:
                derived: rsds-rsus
                grib: true
            mtnsrf:
                derived: rsdt-rsut
                grib: true
            ocpt:
                source: to
                grib: true
                units: degC
            t:
                source: ta
                grib: true
            q:
                src_units: kg/kg
                source: hus
                grib: true
            u:
                source: ua
                grib: true
            uo:
                source: u
                grib: true
            v:
                source: va
                grib: true
            vo:
                source: v
                grib: true

    ICON-cycle3:
        parent: ICON-default
        vars:
            msl: # from here different from default
                source: pres_msl
                src_units: Pa
                grib: true
            sst:
                source: ts
                grib: false
                src_units: K
    ICON-hpx: 
        data_model: false
        vars:
            t:
                source: ta
                grib: true
            msl:
                source: sea_level_pressure
                src_units: Pa
                grib: true
            2t:
                source: tas
                src_units: K
                grib: true 
            10si:
                source: 10m_wind_speed
                src_units: m/s
                grib: true
