# this is a template file for the FDB catalog generator, which is still in testing
# you need to copy this file into a config.yaml file and then fill all keys below

model: IFS
exp: control-1950-devcon-TEST
grid: tco1279
description: 'FDB IFS/NEMO control run'
expver: a06x
date: 19500101
data_start_date: '19500101'
data_end_date: '19591231'
fdb_path: /pfs/lustrep3/scratch/project_465000454/pool/data/EXPERIMENTS/fdb-config-CONTROL_1950_DEVCON.yaml
eccodes_path: /projappl/project_465000454/jvonhar/aqua/eccodes/eccodes-2.30.0/definitions

