sources:
  hourly-native-atm2d: &base-default
    args: &args-default
      request: &request-default
        class: d1
        dataset: climate-dt
        activity: {{ activity }} 
        experiment: {{ experiment }}
        generation: 1
        model: {{ model }}
        realization: 1
        resolution: high
        expver: '{{ expver }}'
        type: fc
        stream: clte
        date: {{ data_start_date }}
        time: '0000'
        param: 167
        levtype: sfc
        step: 0
      data_start_date: {{ data_start_date }}T0000
      data_end_date: {{ data_end_date }}
      chunks: D  # Default time chunk size
      savefreq: h  # at what frequency are data saved
      timestep: h  # base timestep for step timestyle
      timestyle: date  # variable date or variable step
    description: hourly data on native grid {{ grid }}.
    driver: gsv
    metadata: &metadata-default
      fdb_home: {{ fdb_home_native }}
      fdb_path: {{ fdb_home_native }}/etc/fdb/config.yaml
      eccodes_path: {{ eccodes_path }}
      variables: {{ variables_atm2d }}
      source_grid_name: {{ atm_grid }}
      fixer_name: {{ fixer_name }}

  hourly-native-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on native grid {{ grid }}.
    args:
      <<: *args-default
      chunks: 6h
      request:
        <<: *request-default
        param: 131
        levtype: pl
        levelist: {{ atm_levels }}
    metadata:
      <<: *metadata-default
      levels: {{ atm_levels }}
      variables: {{ variables_atm3d }}

  daily-native-oce2d:
    <<: *base-default
    description: daily 2D oceanic data on native grid eORCA12.
    args:
      <<: *args-default
      chunks: MS
      savefreq: D
      request:
        <<: *request-default
        resolution: high
        param: 263000
        levtype: o2d
    metadata:
      <<: *metadata-default
      variables: {{ variables_oce2d }}
      source_grid_name: {{ oce_grid }}-2d

  daily-native-oce3d:
    <<: *base-default
    description: daily 3D oceanic data on native grid eORCA12.
    args:
      <<: *args-default
      chunks: D
      savefreq: D
      request:
        <<: *request-default
        resolution: high
        param: 263500
        levtype: o3d
        levelist: {{ oce_levlist }}
    metadata:
      <<: *metadata-default
      levels: {{ oce_levels }}
      variables: {{ variables_oce3d }}
      source_grid_name: {{ oce_grid }}-3d-level

{% if 'hpz7' in resolutions %}
  hourly-hpz7-atm2d:
    <<: *base-default
    description: hourly 2D atmospheric data on healpix grid (zoom=7, h128).
    args:
      <<: *args-default
      request:
        <<: *request-default
        resolution: standard
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      source_grid_name: hpz7-nested

  hourly-hpz7-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on healpix grid (zoom=7, h128).
    args:
      <<: *args-default
      chunks: 6h
      request:
        <<: *request-default
        resolution: standard
        param: 131
        levtype: pl
        levelist: {{ atm_levels }}
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      levels: {{ atm_levels }}
      variables: {{ variables_atm3d }}
      source_grid_name: hpz7-nested
    
  daily-hpz7-oce2d:
    <<: *base-default
    description: daily 2D oceanic data on healpix grid (zoom=7, h128).
    args:
      <<: *args-default
      chunks: MS
      savefreq: D
      request:
        <<: *request-default
        resolution: standard
        param: 263000
        levtype: o2d
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      variables: {{ variables_oce2d }}
      source_grid_name: nemo-hpz7-nested

  daily-hpz7-oce3d:
    <<: *base-default
    description: daily 3D oceanic data on healpix grid (zoom=7, h128).
    args:
      <<: *args-default
      chunks: D
      savefreq: D
      request:
        <<: *request-default
        resolution: standard
        param: 263500
        levtype: o3d
        levelist: {{ oce_levlist }}
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      levels: {{ oce_levels }}
      variables: {{ variables_oce3d }}
      source_grid_name: nemo-hpz7-nested-3d
{% endif %}


{% if 'hpz10' in resolutions %}
  hourly-hpz10-atm2d:
    <<: *base-default
    description: hourly 2D atmospheric data on healpix grid (zoom=10, h1024).
    args:
      <<: *args-default
      request:
        <<: *request-default
        resolution: high
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      source_grid_name: hpz10-nested

  hourly-hpz10-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on healpix grid (zoom=10, h1024).
    args:
      <<: *args-default
      chunks:
        time: 6h
        vertical: 10
      request:
        <<: *request-default
        resolution: high
        param: 131
        levtype: pl
        levelist: {{ atm_levels }}
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      levels: {{ atm_levels }}
      variables: {{ variables_atm3d }}
      source_grid_name: hpz10-nested

  daily-hpz10-oce2d:
    <<: *base-default
    description: daily 2D oceanic data on healpix grid (zoom=10, h1024).
    args:
      <<: *args-default
      chunks: D
      savefreq: D
      request:
        <<: *request-default
        resolution: high
        param: 263000
        levtype: o2d
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      variables: {{ variables_oce2d }}
      source_grid_name: nemo-hpz10-nested
  
  daily-hpz10-oce3d:
    <<: *base-default
    description: daily 3D oceanic data on healpix grid (zoom=10, h1024).
    args:
      <<: *args-default
      chunks:
        time: D
        vertical: 5
      savefreq: D
      request:
        <<: *request-default
        resolution: high
        param: 263500
        levtype: o3d
        levelist: {{ oce_levlist }}
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_healpix }}
      fdb_path: {{ fdb_home_healpix }}/etc/fdb/config.yaml
      levels: {{ oce_levels }}
      variables: {{ variables_oce3d }}
      source_grid_name: nemo-hpz10-nested-3d
{% endif %}

{% if 'r025' in resolutions %}
  hourly-r025-atm2d:
    <<: *base-default
    description: hourly 2D atmospheric data on regular r025 grid (1440x721).
    args:
      <<: *args-default
      request:
        <<: *request-default
        resolution: standard
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_regular }}
      fdb_path: {{ fdb_home_regular }}/etc/fdb/config.yaml
      source_grid_name: era5-r025

  hourly-r025-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on regular r025 grid (1440x721).
    args:
      <<: *args-default
      chunks: 6h
      request:
        <<: *request-default
        resolution: standard
        param: 131
        levtype: pl
        levelist: {{ atm_levels }}
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_regular }}
      fdb_path: {{ fdb_home_regular }}/etc/fdb/config.yaml
      source_grid_name: era5-r025
      levels: {{ atm_levels }}
      variables: {{ variables_atm3d }}

  daily-r025-oce2d:
    <<: *base-default
    description: daily 2D oceanic data on regular r025 grid (1440x721).
    args:
      <<: *args-default
      chunks: MS
      savefreq: D
      request:
        <<: *request-default
        resolution: standard
        param: 263000
        levtype: o2d
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_regular }}
      fdb_path: {{ fdb_home_regular }}/etc/fdb/config.yaml
      variables: {{ variables_oce2d }}
      source_grid_name: nemo-multiIO-r025

  daily-r025-oce3d:
    <<: *base-default
    description: daily 3D oceanic data on regular r025 grid (1440x721).
    args:
      <<: *args-default
      chunks: D
      savefreq: D
      request:
        <<: *request-default
        resolution: standard
        param: 263500
        levtype: o3d
        levelist: {{ oce_levlist }}
    metadata:
      <<: *metadata-default
      fdb_home: {{ fdb_home_regular }}
      fdb_path: {{ fdb_home_regular }}/etc/fdb/config.yaml
      levels: {{ oce_levels }}
      variables: {{ variables_oce3d }}
      source_grid_name: nemo-multiIO-r025-3d
{% endif %}
