metadata:
  parameters:
    TEST_PATH:
      type: str
      description: the path to test datasets
      default: '.'

sources:
  FESOM:
    description: FESOM ocean model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/FESOM/main.yaml"
  IFS:
    description: IFS atmospheric model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/IFS/main.yaml"
  ICON:
    description: ICON atmospheric model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/ICON/main.yaml"
  NEMO:
    description: NEMO oceanic model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/NEMO/main.yaml"
