# experiment
dataset:
  model: "IFS"
  #exp: "tco2559-ng5-cycle3"
  exp: "tco1279-orca025-cycle3"
  #exp: "control-1950-devcon"
  source2d: "2D_1h_native" #"2D_1h_native"
  source3d: "3D_1h_native" #"3D_1h_native"

# folders for regridded data, temprorary and stored high res data
paths: 
  tmpdir: '/home/b/b382216/scratch/test/fulldir'
  fulldir: '/home/b/b382216/scratch/test/fulldir'
  plotdir: "/home/b/b382216/work/tc/Figures/"

# log level
setup:
  loglevel: 'INFO'

# grid on which operate
grids:
  lowgrid: 'r100'
  highgrid: 'r100'

# variables to stored 
varlist: ['msl']

# temporal definition (YYYY-MM-DD)
time: 
  startdate: '2020-01-20'
  enddate: '2025-01-01'
  frequency: '6h'

stream:
  streamstep: "4D" # n of days for streaming (check reader args options, IMPORTANT: must be specified in days, "D")

# detect nodes options
detect:
  boxdim: 10    # dimension of lat/lon box to save data in the vicinity of the TCs centres (in degrees)

# stich nodes options
stitch:
  n_days_freq: 5 # run stitch nodes (tracks computation) and save tracks every n days
  n_days_ext: 2  # n of days to extend time boundaries not to miss tracks which may start/end before/after the chosen n of days

