# general
*.pyc
__pycache__/
.ipynb_checkpoints
*.egg-info
*.DS_Store

# logfiles
*.err
*.out
*.bal
*.log

# documentation
docs/sphinx/build/*

# output
*.nc
*.png
*.pdf

# tests
AQUA_tests/
AQUA_tests.tar.gz
AQUA_testsv2.tar.gz
AQUA_testsv3.tar.gz
*.bak

# coverage and vscode
.coverage
coverage.xml
coverage/
.vscode/*

# diagnostic specific
diagnostics/ecmean/ECmean4