*.pyc
diagnostics/ecmean/ECmean4
diagnostics/tropical_cyclones/slurm_jobs/*
.ipynb_checkpoints
*.egg-info
cli/*.err
cli/*.out
docs/sphinx/build/*
*.nc
AQUA_tests/
AQUA_tests.tar.gz
**/*.bak
*.err
*.out
.coverage
coverage.xml
coverage/

