# Create the ECmean4 environment:
# mamba env create -f environment.yml 
# or if you really want to use conda
# conda env create -f environment.yml

name: aqua
channels:
  - conda-forge
  - numba
# please note that some of these dependencies are made explicit on purpose, but are not directly required by conda/mamba
dependencies:
  - python>=3.9,<3.11
  - libnetcdf<=4.8.1 
  - netcdf4
  - xarray
  - dask
  - numpy
  - numba
  - ecCodes      
  - matplotlib
  - cartopy
  - cfunits
  - metpy
  - cdo
  - intake-esm<=2021.8.17
  - intake
  - intake-xarray
# these below are only required for running notebooks
  - ipykernel
  - healpy
# these below are only required for tests
  - pytest
  - pytest-cov
  - coverage[toml]
  - pycobertura
# these below are only required for documentation
  - sphinx
  - sphinx-rtd-theme
# these are pip-based since it provides more recent versions or packages unavailable on conda-forge
  - pip
  - pip:
    - sparse
    - docker
    - gribscan
    - smmregrid
    # get OPA
    - git+https://oauth2:-nnxqtXxyrs3LrJubtH1@earth.bsc.es/gitlab/digital-twins/de_340/one_pass.git
    - git+https://github.com/ecmwf/pyfdb.git@master
    - git+https://oauth2:NrMi_dshtmNeaWy9F3sz@earth.bsc.es/gitlab/digital-twins/de_340/gsv_interface.git@add_packaging
    # pip install -e of AQUA itself
    - -e .
