# Create the environment:
# mamba env create -f environment.yml 
# or if you really want to use conda
# conda env create -f environment.yml

name: aqua
channels:
  - conda-forge
# please note that some of these dependencies are made explicit on purpose, but are not directly required by conda/mamba
dependencies:
  - python>=3.9,<3.12
  - cdo>=2.2.0 #for healpix support
  - eccodes>=2.31.0,<2.34.0 # see issue #252, #634, #870
  - pandas      
  - pandoc
  - pip
  - python-cdo # for teleconnections
  - tempest-extremes # for TCs
  - xesmf # for ECmean
  - intake-esm
  - pip:
    - -e ./diagnostics/global_time_series/ # pip install -e of global_time_series
    - -e ./diagnostics/ocean3d/ # pip install -e of ocean3d
    - -e ./diagnostics/seaice/ # pip install -e of seaice
    - -e ./diagnostics/teleconnections/ # pip install -e of teleconnections
    - -e ./diagnostics/tropical_cyclones/ # pip install -e of tropical cyclones
    - -e ./diagnostics/tropical_rainfall/ # pip install -e of tropical_rainfall
    # pip install -e of AQUA itself
    - -e .[all]
    
