paths:
  grids: /pfs/lustrep3/projappl/project_465000454/data/AQUA/grids
  weights: /pfs/lustrep3/projappl/project_465000454/data/AQUA/weights
  areas: /pfs/lustrep3/projappl/project_465000454/data/AQUA/areas

metadata:
  parameters:
    DATA_PATH:
      type: str
      description: the path to observational datasets
      default: /pfs/lustrep3/projappl/project_465000454/data/AQUA/datasets
  
sources:
  IFS:
    description: IFS atmospheric model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/IFS/main.yaml"
  IFS-NEMO:
    description: IFS-NEMO coupled model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/IFS-NEMO/main.yaml"
  IFS-FESOM:
    description: IFS-FESOM coupled model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/IFS-FESOM/main.yaml"
  FESOM:
    description: FESOM oceanic model
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/FESOM/main.yaml"
  NEMO:
    description: NEMO oceanic model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/NEMO/main.yaml"
  ICON:
    description: IFS atmospheric model
    driver: yaml_file_cat
    args:
        path: "{{CATALOG_DIR}}/catalog/ICON/main.yaml"
  ERA5:
    description: test ERA5 data on fdb
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/ERA5/main.yaml"
  MSWEP:
    description: MSWEP_V280 precipitation data
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/MSWEP/main.yaml"
  CERES:
    description: CERES-EBAF radiation data
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/CERES/main.yaml"
  PHC3:
    description: PHC3 climatology
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/PHC3/main.yaml"
  WOA18:
    description: World Ocean Atlas climatology
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/WOA18/main.yaml"
  OSI-SAF:
    description: OSI-SAF sea-ice data
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/OSI-SAF/main.yaml"
  EN4:
    description: EN4 3D temperature and salinity observational data
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/EN4/main.yaml"
  AVISO:
    description: AVISO SSH data
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/AVISO/main.yaml"
  PSC:
    description: Polar Science Center sea ice volume
    driver: yaml_file_cat
    args:
      path: "{{CATALOG_DIR}}/catalog/PSC/main.yaml"
