plugins:
  source:
  - module: intake_xarray
  - module: gribscan

sources:

  atm_2d_ml_R02B09:
    driver: zarr
    description: original 2d output on R02B09 grid (5 km)
    args:
      consolidated: true
      urlpath: /work/bb1153/m300827/ngc2009/R02B09/2d_ml.zarr
    metadata:
      source_grid_name: R02B09
      fix_names: icon-default

  atm_2d_ml_R02B08:
    driver: zarr
    description: original 2d output on R02B09 grid (10 km)
    args:
      consolidated: True
      urlpath: /work/bb1153/m300827/ngc2009/R02B08/2d_ml.zarr
    metadata:
      source_grid_name: R02B08
      fix_names: icon-default
  
  # atm_2d_ml_R02B06:
  #   driver: zarr
  #   args:
  #     consolidated: True
  #     urlpath: https://swift.dkrz.de/v1/dkrz_a973e394-5f24-4f4d-8bbf-1a83bd387ccb/ngc2009/R02B06/2d_ml_v4.zarr/
  # oce_200m_atmgrid:
  #   driver: zarr
  #   args:
  #     consolidated: True
  #     urlpath: /work/bb1153/m300827/ngc2009/R02B09/oce_0-200m_3h_inst_1.zarr
  # oce_200m_atmgrid_R02B09:
  #   driver: zarr
  #   description: original ocean 3d output on R02B09 grid (5 km)
  #   args:
  #     consolidated: false
  #     urlpath: /work/bb1153/m300827/ngc2009/R02B09/oce_0-200m_3h_inst_1.zarr

  intake-esm-test:
      driver: intake_esm.esm_datastore
      description: Test Intake-ESM Catalog
      args:
        obj: /work/ka1081/Catalogs/dyamond-nextgems.json
      metadata:
        query:
          simulation_id: ngc2009
          frequency: 30minute
          time_reduction: inst
        source_grid_name: icon-R02B09-intaketest

  lra-r100-monthly:
    driver: netcdf
    description: LRA data monthly at r100
    args:
      urlpath: /work/bb1153/b382076/LRAv3/ICON/ngc2009/r100/monthly/*ngc2009_r100_monthly_????.nc
      chunks: {}
      xarray_kwargs:
        decode_times: true
    metadata:
      source_grid_name: lon-lat
