# this is a template file for the FDB catalog generator
# please copy to a correspondent yaml file

repos:
  data-portfolio_path: /users/caprioli/data-portfolio
  Climate-DT-catalog_path: /users/caprioli/Climate-DT-catalog

resolution: production  #Experiment resolution: production/develop/lowres (if production portfolio), intermediate (if reduced portfolio)
catalog_dir: lumi-phase2  #the folder in Climate-DT-catalog where the catalog entry will be stored

# AQUA definitions
model: IFS-NEMO
exp: to10
fixer_name: climatedt-phase2-production #climatedt-phase2-reduced for reduced portfolio

# Request/experiment definitions
activity: highresmip
experiment:  cont
generation: 1
expver: 0001
num_of_realizations: 1

# info on the experiment
data_start_date: '19900101'
data_end_date: '19901231'
bridge_end_date: Null   # this can be 'Null' or 'complete' or a date
ocean_grid: eORCA1  # available grids: eORCA1, eORCA025, eORCA12 for NEMO; NG5, D3 for FESOM
description: 'FDB IFS/NEMO test run' 

# paths
fdb_home: /gpfs/scratch/ehpc01/experiments/t01o/fdb/HEALPIX_grids
fdb_home_bridge: Null  # this can be 'Null' or a path
