# Models for which sea surface height (SSH) variability is to be evaluated.
models:
{%- for model in models %}
  - name: {{ model.name }}
    experiment: {{ model.experiment }}
    source: {{ model.source }}
    regrid: {{ model.regrid }}
    variable: {{ model.variable }}
    {% if model.zoom is defined %}
    zoom: {{ model.zoom }}
    {% endif %}
    timespan: ['{{ model.timespan[0] }}', '{{ model.timespan[1] }}']
{%- endfor %}

# This is the model against which other models are compared.
base_model: 
  { name: {{ base_model.name }},
    experiment: {{ base_model.experiment }},
    source: {{ base_model.source }},
    regrid: {{ base_model.regrid }}
  }

# These are options to adjust subplots visualizations.
subplot_options:
  { scale_min: {{ subplot_options.scale_min }},
    scale_max: {{ subplot_options.scale_max }},
    cmap: {{ subplot_options.cmap }}
  } 

# Please specify the path to the directory where the outputs should be saved. If the output directory/folder does not exist, please create one.
output_directory: {{ output_directory }}

# As default, one timespan for all models will be set, but this can be overwritten for each model by entering the timespan in the individual model configurations.
timespan: {start: '{{ timespan.start }}', end: '{{ timespan.end }}'}

# This is the current Dask configuration which works for the inputs above. It could be adjusted based on the system this application is run.
dask_cluster:
  n_workers: {{ dask_cluster.n_workers }}
  threads_per_worker: {{ dask_cluster.threads_per_worker }}
