# Which experment to be analysed
id:
  # only IFS is supported since is the only one using GRB
  model: 'IFS'
  exp: 'tco1279-orca025'
  source: 'ICMGG_atm2d'
# Directories for gribber
dir:
  # directory where grib files from the experiments are
  datadir: '/scratch/b/b382289/tco1279-orca025/nemo_deep/ICMGGc2'
  # directory where the index will be generated
  tmpdir: '/scratch/b/b382289/gribscan'
  # directory where the resulting json will be produced
  jsondir: '/work/bb1153/b382289/gribscan-json'
  # directory where the catalog is found
  catalogdir: '../../config/levante/catalog'