#!/bin/bash
#SBATCH --partition=<partition>
#SBATCH --job-name=<job_name>
#SBATCH --output=<job_name>_%j.out
#SBATCH --error=<job_name>_%j.err
#SBATCH --account=<account>
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=8
#SBATCH --time=08:00:00
#SBATCH --mem=200G 
set -e

# find mamba/conda (to be refined)
whereconda=$(which mamba | rev | cut -f 3-10 -d"/" | rev)
source $whereconda/etc/profile.d/conda.sh

# specify the number of workers
workers = 8

# activate conda environment
conda activate aqua

# run the Python script
# -c to specify the configuration file
# -n to specify the number of processors
# -o to overwrite existing json file
# -l to set the log level (default is WARNING)
./cli_gribber.py --config gribber_setup.yaml -n ${workers}
