#!/bin/bash
#SBATCH --partition=<partition>
#SBATCH --job-name=<job_name>
#SBATCH --output=<job_name>_%j.out
#SBATCH --error=<job_name>_%j.err
#SBATCH --account=<account>
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=<ntasks_per_node>
#SBATCH --time=08:00:00
#SBATCH --mem=200G 
set -e

# configure AQUA folder path
export AQUA=<AQUA_PATH>

# get machine name
machine=levante

# if machine is levante use mamba/conda
if [ $machine == "levante" ]; then
    # find mamba/conda (to be refined)
    whereconda=$(which mamba | rev | cut -f 3-10 -d"/" | rev)
    source $whereconda/etc/profile.d/conda.sh

    # activate conda environment
    conda activate aqua
fi 

function load_environment_AQUA() {
	# Load env modules on LUMI
    module purge
    module use LUMI/22.08
    module load python-xarray/3.10.6-cpeCray-22.08
}

# if machine is lumi use modules
if [ $machine == "lumi" ]; then
    load_environment_AQUA

    # get username
    username=$USER
    export PATH="/users/$username/mambaforge/aqua/bin:$PATH"
fi

# set workers to number of tasks
workers=${SLURM_NTASKS}

# run the Python script
# -c to specify the configuration file
# -n to specify the number of processors
# -o to overwrite existing json file
# -l to set the log level (default is WARNING)
# -s to search for a generic GRIB filename (default is False)

$AQUA/cli/gribber/cli_gribber.py --config $AQUA/cli/gribber/gribber_setup.yaml -n ${workers}
