# Which experment to be analysed
id:
  model: 'model'
  exp: 'exp'
  source: 'source'
  description: None
# Directories for gribber
dir:
  # directory where grib files from the experiments are
  datadir: '/path/to/datadir'
  # directory where the index will be generated
  tmpdir: '/path/to/tmpdir'
  # directory where the resulting json will be produced
  jsondir: '/path/to/jsondir'
  # directory where the catalog is found
  configdir: '/path/to/configdir'