plugins:
  source:
    - module: intake_xarray

sources:
  daily:
    description: CERES SYN TOA Ed4.1 from 2001 to 2021
    driver: netcdf
    metadata:
      source_grid_name: lon-lat
      fixer_name: ceres-syn-destine-v1
    args:
      urlpath: 
        - '{{DATA_PATH}}/CERES/SYNOP_v4.1/CERES_SYN1deg-Day_Terra-Aqua-MODIS_Ed4.1_Subset_20010101-20070909.nc'
        - '{{DATA_PATH}}/CERES/SYNOP_v4.1/CERES_SYN1deg-Day_Terra-Aqua-MODIS_Ed4.1_Subset_20070910-20140518.nc'
        - '{{DATA_PATH}}/CERES/SYNOP_v4.1/CERES_SYN1deg-Day_Terra-Aqua-MODIS_Ed4.1_Subset_20140519-20210124.nc'
        - '{{DATA_PATH}}/CERES/SYNOP_v4.1/CERES_SYN1deg-Day_Terra-Aqua-MODIS_Ed4.1_Subset_20210125-20211231.nc'
      chunks: {}
      xarray_kwargs:
        decode_times: True
