# Template according to #1613
# The first model in this block can be overridden
# in the command line by using:
# --model, --exp, --source, --outputdir, --catalog
datasets:
  - catalog: null
    model: null
    exp: null
    source: 'lra-r100-monthly'
    regrid: null
    reader_kwargs: null # it can be a dictionary with reader kwargs
  # Possible second/third/fourth datasets here, no present by default
  # - catalog: 'obs'
  #   model: 'ERA5'
  #   exp: 'era5'
  #   source: 'monthly'
  #   regrid: r100

references:
  - catalog: 'obs'
    model: 'ESA-CCI-L4'
    exp: 'v3.0.1'
    source: 'r100-monthly'
    regrid: null

output:
  outputdir: "./"
  rebuild: true
  save_pdf: true
  save_png: true
  create_catalog_entry: true
  dpi: 300

diagnostics:
  timeseries:
    run: true
    diagnostic_name: 'ocean'
    variables: ['tos', 'siconc']
    center_time: true
    params:
      default:
        hourly: False
        daily: False
        monthly: True
        annual: True
        std_startdate: '19900101'
        std_enddate: '20201231'
      tos:
        regions: ['nh', 'sh']
  
  seasonalcycles:
    run: true
    diagnostic_name: 'ocean'
    variables: ['tos', 'siconc']
    params:
      default:
        std_startdate: '1990-01-01'
        std_enddate: '2020-12-31'
