sources: 
  hourly-native-atm2d: &base-default
    args: &args-default
      request: &request-default
        #domain: g
        class: d1
        dataset: climate-dt
        activity: CMIP6
        experiment: hist
        generation: 1
        model: IFS
        realization: 1
        resolution: high
        expver: a0hg
        type: fc
        stream: clte
        date: 19900101
        time: "0000"
        param: 167
        levtype: sfc
        step: 0
      data_start_date: 19900101T0000
      data_end_date: auto
      aggregation: D  # Default aggregation / chunk size
      savefreq: H  # at what frequency are data saved
      timestep: H  # base timestep for step timestyle
      timestyle: date  # variable date or variable step
    description: hourly data on native grid TCo1279 (about 10km). Contains tprate(260048),
      2t(167), 10u(165), 10v(166), 100u(228246), 100v(228247), sr(173), blh(159),
      2d(168), skt(235), sp(134). See fix yaml for derived vars.
    driver: gsv
    metadata: &metadata-default
      fdb_path: /pfs/lustrep3/scratch/project_465000454/sbeyer/production_fdb_tco1279_historic/NATIVE_grids/etc/fdb/config.yaml
      eccodes_path: /projappl/project_465000454/jvonhar/aqua/eccodes/eccodes-2.32.2/definitions
      variables: [78, 79, 134, 137, 141, 148, 151, 159, 164, 165, 166, 167, 168, 186, 187, 188, 235, 260048, 8, 9, 144, 146, 147, 169, 175, 176, 177, 178, 179, 180, 181, 182, 212, 228]
      source_grid_name: tco1279
      fixer_name: ifs-destine-v1
 
  hourly-native-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on native grid TCo1279 (about 10km).
    args:
      <<: *args-default
      aggregation: 6H
      request:
        <<: *request-default
        param: 131
        levtype: pl
        levelist: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,
          700, 850, 925, 1000]
    metadata:
      <<: *metadata-default
      levels: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,700, 850, 925, 1000]
      variables: [60, 129, 130, 131, 132, 133, 135, 157, 246]

  hourly-hpxstd-atm2d:
    <<: *base-default
    description: hourly 2D atmospheric data on healpix grid (zoom=7, h128).
    args:
      <<: *args-default
      request:
        <<: *request-default
        resolution: standard
    metadata:
      <<: *metadata-default
      fdb_path: /pfs/lustrep3/scratch/project_465000454/sbeyer/production_fdb_tco1279_historic/HEALPix_grids/etc/fdb/config.yaml
      source_grid_name: hpz7-nested

  hourly-hpxstd-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on healpix grid (zoom=7, h128).
    args:
      <<: *args-default
      aggregation: 6H
      request:
        <<: *request-default
        resolution: standard
        param: 131
        levtype: pl
        levelist: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,
          700, 850, 925, 1000]
    metadata:
      <<: *metadata-default
      fdb_path: /project/project_465000454/experiments/a0h3/fdb/HEALPIX_grids/etc/fdb/config.yaml
      source_grid_name: ifs-healpix
      levels: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,700, 850, 925, 1000]
      variables: [60, 129, 130, 131, 132, 133, 135, 157, 246]

  hourly-hpxhigh-atm2d:
    <<: *base-default
    description: hourly 2D atmospheric data on healpix grid (zoom=10, h1024).
    args:
      <<: *args-default
      request:
        <<: *request-default
        resolution: high
    metadata:
      <<: *metadata-default
      fdb_path: /pfs/lustrep3/scratch/project_465000454/sbeyer/production_fdb_tco1279_historic/HEALPix_grids/etc/fdb/config.yaml
      source_grid_name: hpz10-nested
  
  hourly-hpxhigh-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on healpix grid (zoom=10, h1024).
    args:
      <<: *args-default
      aggregation: 6H
      request:
        <<: *request-default
        resolution: high
        param: 131
        levtype: pl
        levelist: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,
          700, 850, 925, 1000]
    metadata:
      <<: *metadata-default
      fdb_path: /project/project_465000454/experiments/a0h3/fdb/HEALPIX_grids/etc/fdb/config.yaml
      source_grid_name: hpz10-nested
      levels: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,700, 850, 925, 1000]
      variables: [60, 129, 130, 131, 132, 133, 135, 157, 246]

  hourly-r025-atm2d:
    <<: *base-default
    description: hourly 2D atmospheric data on regular r025 grid (1440x721).
    args:
      <<: *args-default
      request:
        <<: *request-default
        resolution: standard
    metadata:
      <<: *metadata-default
      fdb_path: /pfs/lustrep3/scratch/project_465000454/sbeyer/production_fdb_tco1279_historic/REGULARLL_grids/etc/fdb/config.yaml
      source_grid_name: era5-r025
  
  hourly-r025-atm3d:
    <<: *base-default
    description: hourly 3D atmospheric data on regular r025 grid (1440x721).
    args:
      <<: *args-default
      aggregation: 6H
      request:
        <<: *request-default
        resolution: standard
        param: 131
        levtype: pl
        levelist: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,
          700, 850, 925, 1000]
    metadata:
      <<: *metadata-default
      fdb_path: /pfs/lustrep3/scratch/project_465000454/sbeyer/production_fdb_tco1279_historic/REGULARLL_grids/etc/fdb/config.yaml
      source_grid_name: era5-r025
      levels: [1, 5, 10, 20, 30, 50, 70, 100, 150, 200, 250, 300, 400, 500, 600,700, 850, 925, 1000]
      variables: [60, 129, 130, 131, 132, 133, 135, 157, 246]
