# this is a template file for the FDB catalog generator
# please copy to a correspondent yaml file

author: test
machine: test

repos:
  data-portfolio_path: '../data-portfolio'
  Climate-DT-catalog_path: '../Climate-DT-catalog'

resolution: {{ resolution }} # Original resolution: for production (production/develop/lowres) or reduced (intermediate)
catalog_dir: ci  #the folder in Climate-DT-catalog where the catalog entry will be stored

# AQUA definitions
model: {{ model }}
exp: linobanfi
fixer_name: ifs-destine-v1

# Request/experiment definitions
activity: highresmip
experiment:  cont
expver: 0001
num_of_realizations: {{ num_of_realizations }}

# info on the experiment
data_start_date: '19900101'
atm_grid: tco2559
ocean_grid: eORCA1
description: 'FDB IFS/NEMO test run' 

# paths
fdb_home: /gpfs/scratch/ehpc01/experiments/t01o/fdb/HEALPIX_grids
eccodes_path: /gpfs/projects/ehpc01/models/ifs-nemo/DE_CY48R1.0_climateDT_20240523/make/marenostrum5-intel/source/eccodes/definitions