# Basic script to publish a Python package to PyPI on GitHub Releases
# based on trusted publishing with OIDC tokens, to be verified yet. 

name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write   # for PyPI trusted publishing

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade build twine

    - name: Build package
      run: python -m build

    - name: Validate package
      run: twine check dist/*

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@v1